.page {
	article {
		margin: em(10) percent($content-padding, $main-width);
	}
	
	.pull-left, pull-right {
		font-weight: bold;
		color: lighten($base-font-color, 15);
		border-top: 2px solid desaturate($primary-color, 50%);
		border-bottom: 2px solid desaturate($primary-color, 50%);
		padding-top: em(10);
		padding-bottom: em(10);
		@include media($small){
			width: 40%;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	
	.pull-left {
		float: left;
		margin: $base-line-height em(20) $base-line-height 0;
		@include media($small){
			border-top: none;
			border-bottom: none;
			border-right: 4px solid $primary-color;
		}
	}
	
	.pull-right {
		float: right;
		margin: $base-line-height 0 $base-line-height em(20);
		@include media($small){
			border-top: none;
			border-bottom: none;
			border-left: 4px solid $primary-color;
		}
	}
}

.error-text {
	margin: em(5) 0;
	font-size: $base-font-size * 5;
	line-height: $base-line-height * 0.75;
	
	@include media($medium){
		margin: em(10) 0 0 0;
		font-size: $base-font-size * 10;
	}
}

.error-strapline, .error-strapline-bottom {
	font-size: $base-font-size ;
	@include media($medium){
		font-size: $base-font-size * 2;
	}
}

.error-strapline-bottom {
	margin-bottom: em(20);
}

.error-strapline, .error-text, .error-strapline-bottom {
	text-align: center;
}