/*
* Main Navigation
********************/


a.main-navigation-link {
	float: right;
	display: block;
	padding: em(10);
	font-size: $base-font-large;
	text-align: right;
	
	@include span-columns(1);
	@include omega;
	
	@include media($medium){
		display: none
	}
	
	&:hover {
		color: $secondary-color;
	}
}

nav[role=navigation] {
	clear: both;
	@include transition(all 0.3s ease-out);
}

.js nav[role=navigation] {
	overflow: hidden;
	max-height: 0;
	
	@include media($medium){
		max-height: none;
	}
}

nav[role=navigation].active {
	max-height: 15em;
}
nav[role=navigation] ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid $tertiary-color;
	border-bottom: 10px solid $primary-color;
	
	@include media($medium){
		margin: em(10) 0;
		border: 0;
		float: right;
	}
}

nav[role=navigation] li{

	
	@include media($medium){
		display: inline;
		float: left;
		margin-right: em(10);
	}
		
	&.back {
		@include media($medium){
			display: none;
		}
	}	
}

nav[role=navigation] li a {
	display: block;
	padding: em(5);
	font-size: $base-font-size;
	border-bottom: 1px solid $tertiary-color;
	
	@include media($medium) {
		display: block;
		border-bottom: none;
	}
	
	&:hover {
		background-color: $secondary-color;
		color: #fff;
	}
	
}