/*
* Side/Sub Navigation
********************/
.side-navigation {
	padding:0  percent($content-padding, $side-width) em(20) percent($content-padding, $side-width) ;
	
	h5 {
		margin-bottom: em(10)
	}
}


.side-navigation ul {
		border-top: 1px solid $light-gray;
	li {
		border-bottom: 1px solid $light-gray;

		a {
			display: block;
			padding: em(5);
			&:hover {
				background-color: $primary-color;
				color: $tertiary-color;
			}
		}
	}
}