html, body {
	height: 100%;
}
.page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto em($stickyfooter-height); /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: em($stickyfooter-height); /* '.push' must be the same height as 'footer' */
}
