// Side Contact Details

.side-opening-times {
	margin-bottom: em(20);
}

.contact-details-header {
	display: none;
	margin-bottom: em(20);
	
	@include media($small){
		display: block;
	}
}

.side-section-one, .side-section-two {
	
	@include media($below-small){
		@include span-columns(2);
	}
	
	@include media($below-medium ){
		@include span-columns(4);
	}
}

.side-section-two {
	@include media($below-medium){
		@include omega();
	}
}

.side-social {
	
	margin-top: em(20);
	
	ul li a{
		color:$secondary-color;
		
		&:hover{
			color: $primary-color;
		}
	}
	
	@include media($below-small){
		display: none;
	}
}

// Contact Details

.contact-details {
	font-size: $base-font-size * 0.875;
}

// Contact form

.contact-form {
	overflow: hidden;
	margin-bottom: em(20);
	
	textarea {
		height: em(100);
	}
	
	legend {
		padding: em(10);
		font-weight: bold;
	}
}

.row {
	span {
		display: block;
	}
}

.success {
	
}