/* Images
**************/

// Banners
.banner-fullwidth {
	margin: em(10) 0;
	clear:both;
	position: relative;
	width: auto;
	height:auto;
	
		@include media($medium){
			margin: em(10) percent(10, 978);
		}
		
	figcaption {
		position: absolute;
		z-index: 2000;
		color: #fff;
		width: percent(938, 958);
		bottom:10%;
		left: 10px;
		font-weight: bold;
			
			@include media($medium){
				font-size: $base-font-size * 3;
			}
		}
}

// Crop Trick

.crop-height {
  /* max-width: 1000px; /* img src width (if known) */
  max-height: 250px;
  overflow: hidden; 
}

img.scale {
  /* corrects inline gap in enclosing div */
  display: block;
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9; /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic; 
}

//General Floated Images

.image-right {
	float: none;
		// Desktop 
		@include media($medium) {
			float:right;
			margin: 0 0 percent(20, 706) percent(20, 726);
		}
}
	
.image-left {
	float: none;
		// Desktop 
		@include media($medium) {
			float:left;
			margin: 0 percent(20, 706) percent(20, 726) 0;
		}
}
