/* List Page */

.blog {

	h1{
		margin: 0 percent($content-padding, $main-width) em(10) percent($content-padding, $main-width);
	}
	
}


.article-entry {
	margin: 0 percent(10, 642) em(10) percent(10, 642);
	border-bottom: 1px solid $medium-gray;

	header{
		margin: 0 0 em(10) 0;
		
		h1{
			margin: 0;
		}
	}
	
	time {
		font-size: $base-font-small;
		display: block;
	}
	
	figure {
		width:$blog-img-width-small;
		height: $blog-img-height-small;
		margin-bottom: em(10);
		overflow: hidden;
		
		@include media($medium){
			width:$blog-img-width-medium;
			height: $blog-img-height-medium;
			margin-bottom: em(5);
		}
		
		@include media($large){
			width:$blog-img-width-large; // $blog-img-width-large
			height: $blog-img-height-large;  // $blog-img-height-large
		}
		
		a img, img {
			width: $blog-img-width-small;
			height: 160px;
			/* corrects inline gap in enclosing div */
			display: block;
			max-width: 100%;
			/* just in case, to force correct aspect ratio */
			height: auto !important;
			width: auto\9; /* ie8+9 */
			/* lt ie8 */
			-ms-interpolation-mode: bicubic; 
			
			
			@include media($medium){
				width:$blog-img-width-medium;
				height: auto;
			}
			
			@include media($large){
				width:$blog-img-width-large;
				height: auto;
			}
		}
	}
	
	.readmore:after{
		content:'\00BB';
	}
}
