/*
* Main Navigation
********************/

.main-navigation {
	margin: em(5) 0;	
	li {
		display: block;
		width: 48%;
		margin:0 1% 1% 1%;
		float: left;
		display: inline-block;
		
		a {
			color: #ffffff;
			display: block;
			text-align: center;
			background-color: $secondary-color;
			padding: em(10);
			line-height:  $base-font-size * 2.25; // 16 * 2.25 = 36px
			&:hover{
				background-color: $primary-color;
			}
		}
	}

	//Medium
	@include media($medium){
		float: right;
		margin-top: em(5);
		li {
			float: left;
			display: inline;
			margin: 0 em(5) 0 0;
			width: auto;
			a {
				display: block;
			}
		}
	}
}