.pricelist {
	article {
		margin: em(10) percent($content-padding, $main-width);
	}
	
	table {
		border-top: 1px solid $base-border-color;
		border-left: 1px solid $base-border-color;
		border-collapse: collapse;
	}
	
	table tbody td,table tbody th, table thead th, table tfoot td {
		border-bottom: 1px solid $base-border-color;
		border-right: 1px solid $base-border-color;
		padding: em($table-padding);
	}
	
	table tbody th {
		font-weight: normal;
	}
	
	table tbody tr {
		&.odd {
			background-color: $table-odd-color;
		}
		&.even {
			background-color: $table-even-color;
		}		
	}
	
	table tfoot td {
		font-size: $base-font-size * 0.8125;
	}
	
	@include media($below-small){
		table {
			border: 0;
			border-bottom-style: solid;
			border-bottom-width: 0.0625em;
			padding-bottom: 1.4375em;
			padding-bottom: 0;
			display: block;
			width: 100%;
		}
		
		table caption {
			display: block;
		}
		table thead {
			display: none;
			visibility: hidden;
		}
		table tbody, table tr, table th, table td, table tfoot td {
			border:none;
			display: block;
			padding: 0;
			text-align: left;
			white-space: normal;
		}
		table tr {
			margin-bottom: em(10);
		}
		table tr.row {
			border-bottom: 1px solid $base-border-color;
		}
		
		table th[data-title]:before, table td[data-title]:before {
			content: attr(data-title) ":\00A0";
			font-weight: bold;
		}
		table th:not([data-title]) {
			font-weight: bold;
		}
		table td:empty {
			display: none;
		}
	}
}