/* Featured Images - 3 Columns */

.featured {
	padding: percent(10, $main-width) 0 0 percent(10, $main-width);
	margin: 0 auto;
}


.featured-column {
	overflow: hidden;
	float: left;
	width: 100%;
	padding: 0 percent(10, $main-width) percent(10, $main-width) 0;
	
	
	@include media ($medium) {
		width:33.3333%;
	}
	
	figure {
		
		img {
			display: none;
			visibility: hidden;
		
			@include media($medium){
				display: block;
				visibility: visible;
				text-align: left;
				margin: 0;
			}
		}
	}
}