.gallery-menu {
	display: block;
	background-color: $tertiary-color;
	padding: percent(10, $main-width);
	color: $primary-color;
	@include clearfix();
	
	select {
		float: right;
		margin: em(10) 0;
	}
	
}

.gallery-pagination {
	float: left;
	display: inline-block;
	padding:em(20) percent(10, $main-width);
	width: 100%;
}

.gallery-pagination-menu li{
	float: left;
	display: inline;
	margin-right: percent(5, ($main-width - 20));
	
	a {
		background-color: $secondary-color;
		color: #fff;
		padding: em(10);
		
		&:hover{
			background-color: $tertiary-color;
		}
		&.gallery-pagination-current{
			background-color: $primary-color;
		}
	}
	
	&:last-child {
		margin-right: 0;
	}
}

.gallery-thumbnails {
	padding: percent(10, $main-width) 0 0 percent(10, $main-width);
	margin: 0 auto;
}

.gallery-thumbnails li {
	padding: 0 percent(10, $main-width) percent(10, $main-width) 0;
	float: left;
	width: 100%;
	overflow: hidden;

	
	@include media($tiny){
		width: 50%;
	}
	
	@include media($medium){
		width: 33.333333%;
	}
	
	@include media($large){
		width: 25%;
	}
	

	// Images
	
	figure {
		
		a img {
			max-width: 100%;
		}
	
		
		figcaption {
			display: none;
		
			@include media($small){
				display: block;
				text-align: center;
				color: $dark-gray;
				font-size: $base-font-small;
				line-height: em(24);
			}
		} 
	}
}