
/* Test Grid
$visual-grid : true;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.5; */


// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
 $column:em(54);
 $gutter: em(30);
 $grid-columns: 4;
 $max-width: em(978);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$tiny: new-breakpoint(min-width em(320) 4);
$small: new-breakpoint(min-width em(540) 4);
$medium: new-breakpoint(min-width em(760) 8);
$large: new-breakpoint(min-width em(920) 12);

$below-tiny: new-breakpoint(max-width em(320) 4);
$below-small: new-breakpoint(max-width em(540) 4);
$below-medium: new-breakpoint(max-width em(760) 8);
$below-large: new-breakpoint(max-width em(920) 12);
