/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../sass/_normalize.scss */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 76, ../sass/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../sass/_normalize.scss */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../sass/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 174, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 191, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../sass/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 215, ../sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 219, ../sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../sass/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../sass/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 288, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, ../sass/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, ../sass/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 327, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 371, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 380, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Test Grid
$visual-grid : true;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.5; */
/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, ../sass/bitters/extends/_button.scss */
button,
input[type="submit"] {
  border: 1px solid #822306;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #e1623b;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #bd3b13;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bd3b13), color-stop(100%, #912707));
  background-image: -webkit-linear-gradient(#bd3b13, #912707);
  background-image: linear-gradient(#bd3b13, #912707);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #721c02;
  background-clip: padding-box;
  font-size: 1em; }
  /* line 79, ../sass/bourbon/addons/_button.scss */
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #cc471e;
    cursor: pointer;
    background-color: #a23614;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a23614), color-stop(100%, #822407));
    background-image: -webkit-linear-gradient(#a23614, #822407);
    background-image: linear-gradient(#a23614, #822407); }
  /* line 95, ../sass/bourbon/addons/_button.scss */
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #822306;
    box-shadow: inset 0 0 8px 4px #722007, inset 0 0 8px 4px #722007, 0 1px 1px 0 #eeeeee; }
  /* line 38, ../sass/bourbon/addons/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/* line 1, ../sass/bitters/_forms.scss */
fieldset {
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 10, ../sass/bitters/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

/* line 16, ../sass/bitters/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, ../sass/bitters/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, ../sass/bitters/_forms.scss */
  label abbr {
    display: none; }

/* line 30, ../sass/bitters/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 43, ../sass/bitters/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
    border-color: #c4c4c4; }
  /* line 47, ../sass/bitters/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
    border-color: #473b33;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(56, 47, 40, 0.7);
    outline: none; }

/* line 54, ../sass/bitters/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 58, ../sass/bitters/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 63, ../sass/bitters/_forms.scss */
select {
  width: auto;
  margin-bottom: 1.5em; }

/* line 69, ../sass/bitters/_forms.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 1, ../sass/bitters/_tables.scss */
table {
  margin: 0.75em 0;
  width: 100%; }

/* line 6, ../sass/bitters/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 13, ../sass/bitters/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

/* line 18, ../sass/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, ../sass/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, ../sass/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  /* line 23, ../sass/bitters/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, ../sass/bitters/_lists.scss */
  dl dd {
    margin: 0; }

/* Success, error & notice boxes for messages and errors. */
/* line 2, ../sass/bitters/_flashes.scss */
.error, #flash_failure, .notice, #flash_notice, .success, #flash_success, .lt-ie7 .browsehappy {
  margin-bottom: 0.75em;
  padding: 0.75em;
  font-weight: bold; }

/* line 8, ../sass/bitters/_flashes.scss */
.error, #flash_failure {
  background: #fbe3e4;
  color: #96151b; }
  /* line 13, ../sass/bitters/_flashes.scss */
  .error a, #flash_failure a {
    color: #6a0f13; }
    /* line 16, ../sass/bitters/_flashes.scss */
    .error a:hover, #flash_failure a:hover {
      color: #110203; }

/* line 22, ../sass/bitters/_flashes.scss */
.notice, #flash_notice {
  background: #fff6bf;
  color: #8c7800; }
  /* line 27, ../sass/bitters/_flashes.scss */
  .notice a, #flash_notice a {
    color: #594c00; }
    /* line 30, ../sass/bitters/_flashes.scss */
    .notice a:hover, #flash_notice a:hover {
      color: black; }

/* line 37, ../sass/bitters/_flashes.scss */
.success, #flash_success {
  background: #e6efc2;
  color: #56651a; }
  /* line 42, ../sass/bitters/_flashes.scss */
  .success a, #flash_success a {
    color: #333c10; }
    /* line 45, ../sass/bitters/_flashes.scss */
    .success a:hover, #flash_success a:hover {
      color: black; }

/* Images
**************/
/* line 5, ../sass/central/_central-media.scss */
.banner-fullwidth {
  margin: 0.625em 0;
  clear: both;
  position: relative;
  width: auto;
  height: auto; }
  @media screen and (min-width: 47.5em) {
    /* line 5, ../sass/central/_central-media.scss */
    .banner-fullwidth {
      margin: 0.625em 1.02249%; } }
  /* line 16, ../sass/central/_central-media.scss */
  .banner-fullwidth figcaption {
    position: absolute;
    z-index: 2000;
    color: #fff;
    width: 97.91232%;
    bottom: 10%;
    left: 10px;
    font-weight: bold; }
    @media screen and (min-width: 47.5em) {
      /* line 16, ../sass/central/_central-media.scss */
      .banner-fullwidth figcaption {
        font-size: 3em; } }

/* line 33, ../sass/central/_central-media.scss */
.crop-height {
  /* max-width: 1000px; /* img src width (if known) */
  max-height: 250px;
  overflow: hidden; }

/* line 39, ../sass/central/_central-media.scss */
img.scale {
  /* corrects inline gap in enclosing div */
  display: block;
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9;
  /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic; }

/* line 52, ../sass/central/_central-media.scss */
.image-right {
  float: none; }
  @media screen and (min-width: 47.5em) {
    /* line 52, ../sass/central/_central-media.scss */
    .image-right {
      float: right;
      margin: 0 0 2.83286% 2.75482%; } }

/* line 61, ../sass/central/_central-media.scss */
.image-left {
  float: none; }
  @media screen and (min-width: 47.5em) {
    /* line 61, ../sass/central/_central-media.scss */
    .image-left {
      float: left;
      margin: 0 2.83286% 2.75482% 0; } }

/*
* Main Navigation
********************/
/* line 6, ../sass/central/_central-top-navigation-dropdown.scss */
a.main-navigation-link {
  float: right;
  display: block;
  padding: 0.625em;
  font-size: 1.5em;
  text-align: right;
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 17.64706%;
  margin-right: 0; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  a.main-navigation-link:last-child {
    margin-right: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 6, ../sass/central/_central-top-navigation-dropdown.scss */
    a.main-navigation-link {
      display: none; } }
  /* line 20, ../sass/central/_central-top-navigation-dropdown.scss */
  a.main-navigation-link:hover {
    color: #473b33; }

/* line 25, ../sass/central/_central-top-navigation-dropdown.scss */
nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* line 30, ../sass/central/_central-top-navigation-dropdown.scss */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 30, ../sass/central/_central-top-navigation-dropdown.scss */
    .js nav[role=navigation] {
      max-height: none; } }

/* line 39, ../sass/central/_central-top-navigation-dropdown.scss */
nav[role=navigation].active {
  max-height: 15em; }

/* line 42, ../sass/central/_central-top-navigation-dropdown.scss */
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #d8c6b2;
  border-bottom: 10px solid #bd3b13; }
  @media screen and (min-width: 47.5em) {
    /* line 42, ../sass/central/_central-top-navigation-dropdown.scss */
    nav[role=navigation] ul {
      margin: 0.625em 0;
      border: 0;
      float: right; } }

@media screen and (min-width: 47.5em) {
  /* line 55, ../sass/central/_central-top-navigation-dropdown.scss */
  nav[role=navigation] li {
    display: inline;
    float: left;
    margin-right: 0.625em; } }
@media screen and (min-width: 47.5em) {
  /* line 64, ../sass/central/_central-top-navigation-dropdown.scss */
  nav[role=navigation] li.back {
    display: none; } }

/* line 71, ../sass/central/_central-top-navigation-dropdown.scss */
nav[role=navigation] li a {
  display: block;
  padding: 0.3125em;
  font-size: 1em;
  border-bottom: 1px solid #d8c6b2; }
  @media screen and (min-width: 47.5em) {
    /* line 71, ../sass/central/_central-top-navigation-dropdown.scss */
    nav[role=navigation] li a {
      display: block;
      border-bottom: none; } }
  /* line 82, ../sass/central/_central-top-navigation-dropdown.scss */
  nav[role=navigation] li a:hover {
    background-color: #473b33;
    color: #fff; }

/*
* Side/Sub Navigation
********************/
/* line 4, ../sass/central/_central-side-navigation-simple.scss */
.side-navigation {
  padding: 0 3.26797% 1.25em 3.26797%; }
  /* line 7, ../sass/central/_central-side-navigation-simple.scss */
  .side-navigation h5 {
    margin-bottom: 0.625em; }

/* line 13, ../sass/central/_central-side-navigation-simple.scss */
.side-navigation ul {
  border-top: 1px solid #dddddd; }
  /* line 15, ../sass/central/_central-side-navigation-simple.scss */
  .side-navigation ul li {
    border-bottom: 1px solid #dddddd; }
    /* line 18, ../sass/central/_central-side-navigation-simple.scss */
    .side-navigation ul li a {
      display: block;
      padding: 0.3125em; }
      /* line 21, ../sass/central/_central-side-navigation-simple.scss */
      .side-navigation ul li a:hover {
        background-color: #bd3b13;
        color: #d8c6b2; }

/* List Page */
/* line 5, ../sass/central/_central-blog.scss */
.blog h1 {
  margin: 0 1.55763% 0.625em 1.55763%; }

/* line 12, ../sass/central/_central-blog.scss */
.article-entry {
  margin: 0 1.55763% 0.625em 1.55763%;
  border-bottom: 1px solid #999999; }
  /* line 16, ../sass/central/_central-blog.scss */
  .article-entry header {
    margin: 0 0 0.625em 0; }
    /* line 19, ../sass/central/_central-blog.scss */
    .article-entry header h1 {
      margin: 0; }
  /* line 24, ../sass/central/_central-blog.scss */
  .article-entry time {
    font-size: 0.75em;
    display: block; }
  /* line 29, ../sass/central/_central-blog.scss */
  .article-entry figure {
    width: 300px;
    height: 150px;
    margin-bottom: 0.625em;
    overflow: hidden; }
    @media screen and (min-width: 47.5em) {
      /* line 29, ../sass/central/_central-blog.scss */
      .article-entry figure {
        width: 150px;
        height: 150px;
        margin-bottom: 0.3125em; } }
    @media screen and (min-width: 57.5em) {
      /* line 29, ../sass/central/_central-blog.scss */
      .article-entry figure {
        width: 250px;
        height: 250px; } }
    /* line 46, ../sass/central/_central-blog.scss */
    .article-entry figure a img, .article-entry figure img {
      width: 300px;
      height: 160px;
      /* corrects inline gap in enclosing div */
      display: block;
      max-width: 100%;
      /* just in case, to force correct aspect ratio */
      height: auto !important;
      width: auto\9;
      /* ie8+9 */
      /* lt ie8 */
      -ms-interpolation-mode: bicubic; }
      @media screen and (min-width: 47.5em) {
        /* line 46, ../sass/central/_central-blog.scss */
        .article-entry figure a img, .article-entry figure img {
          width: 150px;
          height: auto; } }
      @media screen and (min-width: 57.5em) {
        /* line 46, ../sass/central/_central-blog.scss */
        .article-entry figure a img, .article-entry figure img {
          width: 250px;
          height: auto; } }
  /* line 71, ../sass/central/_central-blog.scss */
  .article-entry .readmore:after {
    content: '\00BB'; }

/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* global foundicon styles */
/* line 11, ../sass/central/_central-socialfoundicons.scss */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat; }

/* line 22, ../sass/central/_central-socialfoundicons.scss */
[class*="foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none; }

/* icons */
/* line 31, ../sass/central/_central-socialfoundicons.scss */
.foundicon-thumb-up:before {
  content: "\f000"; }

/* line 35, ../sass/central/_central-socialfoundicons.scss */
.foundicon-thumb-down:before {
  content: "\f001"; }

/* line 39, ../sass/central/_central-socialfoundicons.scss */
.foundicon-rss:before {
  content: "\f002"; }

/* line 43, ../sass/central/_central-socialfoundicons.scss */
.foundicon-facebook:before {
  content: "\f003"; }

/* line 47, ../sass/central/_central-socialfoundicons.scss */
.foundicon-twitter:before {
  content: "\f004"; }

/* line 51, ../sass/central/_central-socialfoundicons.scss */
.foundicon-pinterest:before {
  content: "\f005"; }

/* line 55, ../sass/central/_central-socialfoundicons.scss */
.foundicon-github:before {
  content: "\f006"; }

/* line 59, ../sass/central/_central-socialfoundicons.scss */
.foundicon-path:before {
  content: "\f007"; }

/* line 63, ../sass/central/_central-socialfoundicons.scss */
.foundicon-linkedin:before {
  content: "\f008"; }

/* line 67, ../sass/central/_central-socialfoundicons.scss */
.foundicon-dribbble:before {
  content: "\f009"; }

/* line 71, ../sass/central/_central-socialfoundicons.scss */
.foundicon-stumble-upon:before {
  content: "\f00a"; }

/* line 75, ../sass/central/_central-socialfoundicons.scss */
.foundicon-behance:before {
  content: "\f00b"; }

/* line 79, ../sass/central/_central-socialfoundicons.scss */
.foundicon-reddit:before {
  content: "\f00c"; }

/* line 83, ../sass/central/_central-socialfoundicons.scss */
.foundicon-google-plus:before {
  content: "\f00d"; }

/* line 87, ../sass/central/_central-socialfoundicons.scss */
.foundicon-youtube:before {
  content: "\f00e"; }

/* line 91, ../sass/central/_central-socialfoundicons.scss */
.foundicon-vimeo:before {
  content: "\f00f"; }

/* line 95, ../sass/central/_central-socialfoundicons.scss */
.foundicon-flickr:before {
  content: "\f010"; }

/* line 99, ../sass/central/_central-socialfoundicons.scss */
.foundicon-slideshare:before {
  content: "\f011"; }

/* line 103, ../sass/central/_central-socialfoundicons.scss */
.foundicon-picassa:before {
  content: "\f012"; }

/* line 107, ../sass/central/_central-socialfoundicons.scss */
.foundicon-skype:before {
  content: "\f013"; }

/* line 111, ../sass/central/_central-socialfoundicons.scss */
.foundicon-steam:before {
  content: "\f014"; }

/* line 115, ../sass/central/_central-socialfoundicons.scss */
.foundicon-instagram:before {
  content: "\f015"; }

/* line 119, ../sass/central/_central-socialfoundicons.scss */
.foundicon-foursquare:before {
  content: "\f016"; }

/* line 123, ../sass/central/_central-socialfoundicons.scss */
.foundicon-delicious:before {
  content: "\f017"; }

/* line 127, ../sass/central/_central-socialfoundicons.scss */
.foundicon-chat:before {
  content: "\f018"; }

/* line 131, ../sass/central/_central-socialfoundicons.scss */
.foundicon-torso:before {
  content: "\f019"; }

/* line 135, ../sass/central/_central-socialfoundicons.scss */
.foundicon-tumblr:before {
  content: "\f01a"; }

/* line 139, ../sass/central/_central-socialfoundicons.scss */
.foundicon-video-chat:before {
  content: "\f01b"; }

/* line 143, ../sass/central/_central-socialfoundicons.scss */
.foundicon-digg:before {
  content: "\f01c"; }

/* line 147, ../sass/central/_central-socialfoundicons.scss */
.foundicon-wordpress:before {
  content: "\f01d"; }

/* line 2, ../sass/central/_central-page-basic.scss */
.page article {
  margin: 0.625em 1.55763%; }
/* line 6, ../sass/central/_central-page-basic.scss */
.page .pull-left, .page pull-right {
  font-weight: bold;
  color: #595959;
  border-top: 2px solid #895747;
  border-bottom: 2px solid #895747;
  padding-top: 0.625em;
  padding-bottom: 0.625em; }
  @media screen and (min-width: 33.75em) {
    /* line 6, ../sass/central/_central-page-basic.scss */
    .page .pull-left, .page pull-right {
      width: 40%;
      padding-top: 0;
      padding-bottom: 0; } }
/* line 20, ../sass/central/_central-page-basic.scss */
.page .pull-left {
  float: left;
  margin: 1.5em 1.25em 1.5em 0; }
  @media screen and (min-width: 33.75em) {
    /* line 20, ../sass/central/_central-page-basic.scss */
    .page .pull-left {
      border-top: none;
      border-bottom: none;
      border-right: 4px solid #bd3b13; } }
/* line 30, ../sass/central/_central-page-basic.scss */
.page .pull-right {
  float: right;
  margin: 1.5em 0 1.5em 1.25em; }
  @media screen and (min-width: 33.75em) {
    /* line 30, ../sass/central/_central-page-basic.scss */
    .page .pull-right {
      border-top: none;
      border-bottom: none;
      border-left: 4px solid #bd3b13; } }

/* line 41, ../sass/central/_central-page-basic.scss */
.error-text {
  margin: 0.3125em 0;
  font-size: 5em;
  line-height: 1.125em; }
  @media screen and (min-width: 47.5em) {
    /* line 41, ../sass/central/_central-page-basic.scss */
    .error-text {
      margin: 0.625em 0 0 0;
      font-size: 10em; } }

/* line 52, ../sass/central/_central-page-basic.scss */
.error-strapline, .error-strapline-bottom {
  font-size: 1em; }
  @media screen and (min-width: 47.5em) {
    /* line 52, ../sass/central/_central-page-basic.scss */
    .error-strapline, .error-strapline-bottom {
      font-size: 2em; } }

/* line 59, ../sass/central/_central-page-basic.scss */
.error-strapline-bottom {
  margin-bottom: 1.25em; }

/* line 63, ../sass/central/_central-page-basic.scss */
.error-strapline, .error-text, .error-strapline-bottom {
  text-align: center; }

/* Featured Images - 3 Columns */
/* line 3, ../sass/central/_central-page-partials.scss */
.featured {
  padding: 1.55763% 0 0 1.55763%;
  margin: 0 auto; }

/* line 9, ../sass/central/_central-page-partials.scss */
.featured-column {
  overflow: hidden;
  float: left;
  width: 100%;
  padding: 0 1.55763% 1.55763% 0; }
  @media screen and (min-width: 47.5em) {
    /* line 9, ../sass/central/_central-page-partials.scss */
    .featured-column {
      width: 33.3333%; } }
  /* line 22, ../sass/central/_central-page-partials.scss */
  .featured-column figure img {
    display: none;
    visibility: hidden; }
    @media screen and (min-width: 47.5em) {
      /* line 22, ../sass/central/_central-page-partials.scss */
      .featured-column figure img {
        display: block;
        visibility: visible;
        text-align: left;
        margin: 0; } }

/* line 1, ../sass/central/_central-gallery-basic.scss */
.gallery-menu {
  display: block;
  background-color: #d8c6b2;
  padding: 1.55763%;
  color: #bd3b13;
  *zoom: 1; }
  /* line 18, ../sass/bourbon/addons/_clearfix.scss */
  .gallery-menu:before, .gallery-menu:after {
    content: " ";
    display: table; }
  /* line 23, ../sass/bourbon/addons/_clearfix.scss */
  .gallery-menu:after {
    clear: both; }
  /* line 8, ../sass/central/_central-gallery-basic.scss */
  .gallery-menu select {
    float: right;
    margin: 0.625em 0; }

/* line 15, ../sass/central/_central-gallery-basic.scss */
.gallery-pagination {
  float: left;
  display: inline-block;
  padding: 1.25em 1.55763%;
  width: 100%; }

/* line 22, ../sass/central/_central-gallery-basic.scss */
.gallery-pagination-menu li {
  float: left;
  display: inline;
  margin-right: 0.80386%; }
  /* line 27, ../sass/central/_central-gallery-basic.scss */
  .gallery-pagination-menu li a {
    background-color: #473b33;
    color: #fff;
    padding: 0.625em; }
    /* line 32, ../sass/central/_central-gallery-basic.scss */
    .gallery-pagination-menu li a:hover {
      background-color: #d8c6b2; }
    /* line 35, ../sass/central/_central-gallery-basic.scss */
    .gallery-pagination-menu li a.gallery-pagination-current {
      background-color: #bd3b13; }
  /* line 40, ../sass/central/_central-gallery-basic.scss */
  .gallery-pagination-menu li:last-child {
    margin-right: 0; }

/* line 45, ../sass/central/_central-gallery-basic.scss */
.gallery-thumbnails {
  padding: 1.55763% 0 0 1.55763%;
  margin: 0 auto; }

/* line 50, ../sass/central/_central-gallery-basic.scss */
.gallery-thumbnails li {
  padding: 0 1.55763% 1.55763% 0;
  float: left;
  width: 100%;
  overflow: hidden; }
  @media screen and (min-width: 20em) {
    /* line 50, ../sass/central/_central-gallery-basic.scss */
    .gallery-thumbnails li {
      width: 50%; } }
  @media screen and (min-width: 47.5em) {
    /* line 50, ../sass/central/_central-gallery-basic.scss */
    .gallery-thumbnails li {
      width: 33.333333%; } }
  @media screen and (min-width: 57.5em) {
    /* line 50, ../sass/central/_central-gallery-basic.scss */
    .gallery-thumbnails li {
      width: 25%; } }
  /* line 74, ../sass/central/_central-gallery-basic.scss */
  .gallery-thumbnails li figure a img {
    max-width: 100%; }
  /* line 79, ../sass/central/_central-gallery-basic.scss */
  .gallery-thumbnails li figure figcaption {
    display: none; }
    @media screen and (min-width: 33.75em) {
      /* line 79, ../sass/central/_central-gallery-basic.scss */
      .gallery-thumbnails li figure figcaption {
        display: block;
        text-align: center;
        color: #333333;
        font-size: 0.75em;
        line-height: 1.5em; } }

/* line 2, ../sass/central/_central-pricelist-table.scss */
.pricelist article {
  margin: 0.625em 1.55763%; }
/* line 6, ../sass/central/_central-pricelist-table.scss */
.pricelist table {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-collapse: collapse; }
/* line 12, ../sass/central/_central-pricelist-table.scss */
.pricelist table tbody td, .pricelist table tbody th, .pricelist table thead th, .pricelist table tfoot td {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 0.625em; }
/* line 18, ../sass/central/_central-pricelist-table.scss */
.pricelist table tbody th {
  font-weight: normal; }
/* line 23, ../sass/central/_central-pricelist-table.scss */
.pricelist table tbody tr.odd {
  background-color: white; }
/* line 26, ../sass/central/_central-pricelist-table.scss */
.pricelist table tbody tr.even {
  background-color: #dddddd; }
/* line 31, ../sass/central/_central-pricelist-table.scss */
.pricelist table tfoot td {
  font-size: 0.8125em; }
@media screen and (max-width: 33.75em) {
  /* line 36, ../sass/central/_central-pricelist-table.scss */
  .pricelist table {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
    padding-bottom: 0;
    display: block;
    width: 100%; }
  /* line 46, ../sass/central/_central-pricelist-table.scss */
  .pricelist table caption {
    display: block; }
  /* line 49, ../sass/central/_central-pricelist-table.scss */
  .pricelist table thead {
    display: none;
    visibility: hidden; }
  /* line 53, ../sass/central/_central-pricelist-table.scss */
  .pricelist table tbody, .pricelist table tr, .pricelist table th, .pricelist table td, .pricelist table tfoot td {
    border: none;
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal; }
  /* line 60, ../sass/central/_central-pricelist-table.scss */
  .pricelist table tr {
    margin-bottom: 0.625em; }
  /* line 63, ../sass/central/_central-pricelist-table.scss */
  .pricelist table tr.row {
    border-bottom: 1px solid #dddddd; }
  /* line 67, ../sass/central/_central-pricelist-table.scss */
  .pricelist table th[data-title]:before, .pricelist table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold; }
  /* line 71, ../sass/central/_central-pricelist-table.scss */
  .pricelist table th:not([data-title]) {
    font-weight: bold; }
  /* line 74, ../sass/central/_central-pricelist-table.scss */
  .pricelist table td:empty {
    display: none; } }

/* line 3, ../sass/central/_central-contact.scss */
.side-opening-times {
  margin-bottom: 1.25em; }

/* line 7, ../sass/central/_central-contact.scss */
.contact-details-header {
  display: none;
  margin-bottom: 1.25em; }
  @media screen and (min-width: 33.75em) {
    /* line 7, ../sass/central/_central-contact.scss */
    .contact-details-header {
      display: block; } }

@media screen and (max-width: 33.75em) {
  /* line 16, ../sass/central/_central-contact.scss */
  .side-section-one, .side-section-two {
    float: left;
    display: block;
    margin-right: 9.80392%;
    width: 45.09804%; }
    /* line 40, ../sass/neat/grid/_span-columns.scss */
    .side-section-one:last-child, .side-section-two:last-child {
      margin-right: 0; } }
@media screen and (max-width: 47.5em) {
  /* line 16, ../sass/central/_central-contact.scss */
  .side-section-one, .side-section-two {
    float: left;
    display: block;
    margin-right: 4.6729%;
    width: 47.66355%; }
    /* line 40, ../sass/neat/grid/_span-columns.scss */
    .side-section-one:last-child, .side-section-two:last-child {
      margin-right: 0; } }

@media screen and (max-width: 47.5em) {
  /* line 27, ../sass/central/_central-contact.scss */
  .side-section-two {
    margin-right: 0; } }

/* line 33, ../sass/central/_central-contact.scss */
.side-social {
  margin-top: 1.25em; }
  /* line 37, ../sass/central/_central-contact.scss */
  .side-social ul li a {
    color: #473b33; }
    /* line 40, ../sass/central/_central-contact.scss */
    .side-social ul li a:hover {
      color: #bd3b13; }
  @media screen and (max-width: 33.75em) {
    /* line 33, ../sass/central/_central-contact.scss */
    .side-social {
      display: none; } }

/* line 52, ../sass/central/_central-contact.scss */
.contact-details {
  font-size: 0.875em; }

/* line 58, ../sass/central/_central-contact.scss */
.contact-form {
  overflow: hidden;
  margin-bottom: 1.25em; }
  /* line 62, ../sass/central/_central-contact.scss */
  .contact-form textarea {
    height: 6.25em; }
  /* line 66, ../sass/central/_central-contact.scss */
  .contact-form legend {
    padding: 0.625em;
    font-weight: bold; }

/* line 73, ../sass/central/_central-contact.scss */
.row span {
  display: block; }

/* line 1, ../sass/theme/_theme-typography.scss */
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  background-color: #d8c6b2; }

/* line 10, ../sass/theme/_theme-typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin: 0 0 0.3125em 0;
  line-height: 1.25em; }

/* line 16, ../sass/theme/_theme-typography.scss */
h1 {
  font-size: 2em; }

/* line 20, ../sass/theme/_theme-typography.scss */
h2 {
  font-size: 1.75em; }

/* line 24, ../sass/theme/_theme-typography.scss */
h3, .side article h1 {
  font-size: 1.5em; }

/* line 28, ../sass/theme/_theme-typography.scss */
h4, .side article h2, legend {
  font-size: 1.25em; }

/* line 32, ../sass/theme/_theme-typography.scss */
h5, .side article h3 {
  font-size: 1em; }

/* line 36, ../sass/theme/_theme-typography.scss */
h6 {
  font-size: 1em; }

/* line 40, ../sass/theme/_theme-typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 44, ../sass/theme/_theme-typography.scss */
a {
  color: #bd3b13;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  /* line 49, ../sass/theme/_theme-typography.scss */
  a:hover {
    color: #473b33; }
  /* line 53, ../sass/theme/_theme-typography.scss */
  a:active, a:focus {
    color: #473b33;
    outline: none; }

/* line 59, ../sass/theme/_theme-typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 67, ../sass/theme/_theme-typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 72, ../sass/theme/_theme-typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

/* line 77, ../sass/theme/_theme-typography.scss */
address {
  display: block;
  margin: 0 0 0.75em; }

/* line 82, ../sass/theme/_theme-typography.scss */
hgroup {
  margin-bottom: 0.75em; }

/* line 86, ../sass/theme/_theme-typography.scss */
del {
  color: #595959; }

/* line 90, ../sass/theme/_theme-typography.scss */
blockquote {
  color: #595959;
  padding-left: 0.75em; }

/* line 95, ../sass/theme/_theme-typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 99, ../sass/theme/_theme-typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, ../sass/theme/_theme-layout.scss */
.page {
  background-color: white;
  *zoom: 1;
  max-width: 61.125em;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../sass/bourbon/addons/_clearfix.scss */
  .page:before, .page:after {
    content: " ";
    display: table; }
  /* line 23, ../sass/bourbon/addons/_clearfix.scss */
  .page:after {
    clear: both; }

/* line 6, ../sass/theme/_theme-layout.scss */
header, footer {
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 100%; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  header:last-child, footer:last-child {
    margin-right: 0; }
  @media screen and (min-width: 57.5em) {
    /* line 6, ../sass/theme/_theme-layout.scss */
    header, footer {
      float: left;
      display: block;
      margin-right: 3.06748%;
      width: 100%;
      margin-right: 0; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      header:last-child, footer:last-child {
        margin-right: 0; } }

/* line 17, ../sass/theme/_theme-layout.scss */
.header-logo {
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 72.54902%; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .header-logo:last-child {
    margin-right: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 17, ../sass/theme/_theme-layout.scss */
    .header-logo {
      float: left;
      display: block;
      margin-right: 4.6729%;
      width: 34.57944%; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .header-logo:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 57.5em) {
    /* line 17, ../sass/theme/_theme-layout.scss */
    .header-logo {
      float: left;
      display: block;
      margin-right: 3.06748%;
      width: 31.28834%; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .header-logo:last-child {
        margin-right: 0; } }

@media screen and (min-width: 47.5em) {
  /* line 31, ../sass/theme/_theme-layout.scss */
  .header-navigation {
    float: left;
    display: block;
    margin-right: 4.6729%;
    width: 60.74766%;
    margin-right: 0; }
    /* line 40, ../sass/neat/grid/_span-columns.scss */
    .header-navigation:last-child {
      margin-right: 0; } }
@media screen and (min-width: 57.5em) {
  /* line 31, ../sass/theme/_theme-layout.scss */
  .header-navigation {
    float: left;
    display: block;
    margin-right: 3.06748%;
    width: 65.64417%;
    margin-right: 0; }
    /* line 40, ../sass/neat/grid/_span-columns.scss */
    .header-navigation:last-child {
      margin-right: 0; } }

/* line 49, ../sass/theme/_theme-layout.scss */
.two-column-main {
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 100%; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .two-column-main:last-child {
    margin-right: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 49, ../sass/theme/_theme-layout.scss */
    .two-column-main {
      float: left;
      display: block;
      margin-right: 4.6729%;
      width: 60.74766%; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .two-column-main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 57.5em) {
    /* line 49, ../sass/theme/_theme-layout.scss */
    .two-column-main {
      float: left;
      display: block;
      margin-right: 3.06748%;
      width: 65.64417%; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .two-column-main:last-child {
        margin-right: 0; } }

/* line 66, ../sass/theme/_theme-layout.scss */
.full {
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 100%;
  margin-right: 0; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .full:last-child {
    margin-right: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 66, ../sass/theme/_theme-layout.scss */
    .full {
      float: left;
      display: block;
      margin-right: 4.6729%;
      width: 100%;
      margin-right: 0; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .full:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 57.5em) {
    /* line 66, ../sass/theme/_theme-layout.scss */
    .full {
      float: left;
      display: block;
      margin-right: 3.06748%;
      width: 100%;
      margin-right: 0; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .full:last-child {
        margin-right: 0; } }

/* line 86, ../sass/theme/_theme-layout.scss */
.side {
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 100%; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .side:last-child {
    margin-right: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 86, ../sass/theme/_theme-layout.scss */
    .side {
      float: left;
      display: block;
      margin-right: 4.6729%;
      width: 34.57944%;
      margin-right: 0; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .side:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 57.5em) {
    /* line 86, ../sass/theme/_theme-layout.scss */
    .side {
      float: left;
      display: block;
      margin-right: 3.06748%;
      width: 31.28834%;
      margin-right: 0; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .side:last-child {
        margin-right: 0; } }

/* line 104, ../sass/theme/_theme-layout.scss */
.site-footer-inner {
  *zoom: 1;
  max-width: 61.125em;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, ../sass/bourbon/addons/_clearfix.scss */
  .site-footer-inner:before, .site-footer-inner:after {
    content: " ";
    display: table; }
  /* line 23, ../sass/bourbon/addons/_clearfix.scss */
  .site-footer-inner:after {
    clear: both; }

/* line 108, ../sass/theme/_theme-layout.scss */
.site-footer-left {
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 100%;
  margin-right: 0; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .site-footer-left:last-child {
    margin-right: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 108, ../sass/theme/_theme-layout.scss */
    .site-footer-left {
      float: left;
      display: block;
      margin-right: 4.6729%;
      width: 60.74766%; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .site-footer-left:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 57.5em) {
    /* line 108, ../sass/theme/_theme-layout.scss */
    .site-footer-left {
      float: left;
      display: block;
      margin-right: 3.06748%;
      width: 48.46626%; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .site-footer-left:last-child {
        margin-right: 0; } }

/* line 122, ../sass/theme/_theme-layout.scss */
.site-footer-right {
  float: left;
  display: block;
  margin-right: 9.80392%;
  width: 100%;
  margin-right: 0; }
  /* line 40, ../sass/neat/grid/_span-columns.scss */
  .site-footer-right:last-child {
    margin-right: 0; }
  @media screen and (min-width: 47.5em) {
    /* line 122, ../sass/theme/_theme-layout.scss */
    .site-footer-right {
      float: left;
      display: block;
      margin-right: 4.6729%;
      width: 34.57944%;
      margin-right: 0; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .site-footer-right:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 57.5em) {
    /* line 122, ../sass/theme/_theme-layout.scss */
    .site-footer-right {
      float: left;
      display: block;
      margin-right: 3.06748%;
      width: 48.46626%;
      margin-right: 0; }
      /* line 40, ../sass/neat/grid/_span-columns.scss */
      .site-footer-right:last-child {
        margin-right: 0; } }

@media screen and (min-width: 47.5em) {
  /* line 4, ../sass/theme/_theme-styles.scss */
  html, body {
    height: 100%; }

  /* line 7, ../sass/theme/_theme-styles.scss */
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -3.125em; }

  /* line 12, ../sass/theme/_theme-styles.scss */
  .page-wrap:after {
    content: "";
    display: block; }

  /* line 16, ../sass/theme/_theme-styles.scss */
  .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 3.125em; } }
/* Header */
@media screen and (min-width: 47.5em) {
  /* line 26, ../sass/theme/_theme-styles.scss */
  .header-site {
    margin: 0; } }

/* line 37, ../sass/theme/_theme-styles.scss */
.header-logo {
  text-align: left;
  font-size: 1.25em;
  padding: 0.625em 0; }
  /* line 42, ../sass/theme/_theme-styles.scss */
  .header-logo a {
    padding: 0 3.26797%; }
  @media screen and (min-width: 57.5em) {
    /* line 37, ../sass/theme/_theme-styles.scss */
    .header-logo {
      padding: 0;
      font-size: 2.25em; } }

/* line 57, ../sass/theme/_theme-styles.scss */
.full h1 {
  margin-left: 1.55763%; }

/* line 64, ../sass/theme/_theme-styles.scss */
.side-article {
  margin: 0 3.26797% 1.25em 3.26797%;
  border-bottom: 2px solid #333333; }

/* line 70, ../sass/theme/_theme-styles.scss */
.side-spacer {
  margin-bottom: 1.25em; }

/* line 75, ../sass/theme/_theme-styles.scss */
.site-footer-inner {
  background-color: #473b33;
  color: #fff; }
  @media screen and (min-width: 47.5em) {
    /* line 75, ../sass/theme/_theme-styles.scss */
    .site-footer-inner {
      height: 3.125em; } }
  /* line 83, ../sass/theme/_theme-styles.scss */
  .site-footer-inner a {
    color: #d8c6b2; }
    /* line 86, ../sass/theme/_theme-styles.scss */
    .site-footer-inner a:hover {
      color: #fff; }

/* line 93, ../sass/theme/_theme-styles.scss */
.site-footer-left {
  text-align: center; }
  @media screen and (min-width: 47.5em) {
    /* line 93, ../sass/theme/_theme-styles.scss */
    .site-footer-left {
      text-align: left; } }

/* line 101, ../sass/theme/_theme-styles.scss */
.site-footer-right {
  text-align: center; }
  @media screen and (min-width: 47.5em) {
    /* line 101, ../sass/theme/_theme-styles.scss */
    .site-footer-right {
      text-align: right; } }

/* line 110, ../sass/theme/_theme-styles.scss */
.site-footer-left p, .site-footer-right p {
  font-size: 0.8125em;
  line-height: 1.875em;
  margin: 0.625em 2.1097%; }
  @media screen and (min-width: 47.5em) {
    /* line 110, ../sass/theme/_theme-styles.scss */
    .site-footer-left p, .site-footer-right p {
      line-height: 1.5em;
      margin: 1.25em 4.21941% 0 4.21941%; } }

/* line 122, ../sass/theme/_theme-styles.scss */
.site-footer-middle {
  margin: 0 2.1097%; }

/* Less than IE 7
*****/
/* line 3, ../sass/theme/_theme-ie.scss */
.lt-ie7 .browsehappy {
  position: absolute;
  z-index: 999999;
  text-align: center;
  width: 100%;
  background: #fff6bf;
  color: #8c7800; }
  /* line 11, ../sass/theme/_theme-ie.scss */
  .lt-ie7 .browsehappy a {
    color: #594c00; }
    /* line 13, ../sass/theme/_theme-ie.scss */
    .lt-ie7 .browsehappy a:hover {
      color: black; }
