// Typography
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Theme Colours
$primary-color:#BD3B13; //Burnt Orange
$secondary-color:#473B33; //Chocolate Brown
$tertiary-color:#d8c6b2; //Creamy Colour


$background-color:$tertiary-color;
$page-color:#ffffff;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $primary-color;

// Font Sizes
$base-font-large: $base-font-size * 1.5;
$base-font-small: $base-font-size * 0.75;


// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $secondary-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Central Blog
$blog-img-width-small : 300px;
$blog-img-height-small : 150px;

$blog-img-width-medium : 150px;
$blog-img-height-medium : 150px;

$blog-img-width-large : 250px;
$blog-img-height-large : 250px;

// Gallery Blog
$gallery-img-width-small : 140px;
$gallery-img-height-small : 140px;

$gallery-img-width-medium : 150px;
$gallery-img-height-medium : 150px;

$gallery-img-width-large : 200px;
$gallery-img-height-large : 200px;

// Forms - These variables are in bitters/forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $secondary-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Tables
$table-padding: 10;
$table-odd-color: $page-color;
$table-even-color: $light-gray;


// Layout
$main-width: 642;
$side-width: 306;
$content-padding: 10;
$stickyfooter-height: 50; //Value in px for the sticky footer
