/* Less than IE 7
*****/
.lt-ie7 .browsehappy{
  @extend %flash;
  position: absolute;
  z-index: 999999;
  text-align: center;
  width: 100%;
  background: $notice-color;
  color: darken($notice-color, 60);
  a {
    color: darken($notice-color, 70);
    &:hover {
      color: darken($notice-color, 90);
    }
  }
}