.page {
	background-color: $page-color;
	@include outer-container;
}

header, footer {
	@include span-columns(4);
	
	@include media($large) {
		@include span-columns(12);
		@include omega;
	}

}

// Header Layour
.header-logo {
	@include span-columns(3);
	
	//Medium
	@include media($medium){
		@include span-columns(3 of 8);
	}
	//Large
	@include media($large){
		@include span-columns(4 of 12);
	}

}

.header-navigation {
	
	// No mobile span cols, this is in the menu partial
	
	//Medium
	@include media($medium){
		@include span-columns(5 of 8);
		@include omega;
	}

	//Large
	@include media($large){
		@include span-columns(8 of 12);
		@include omega;
	}
}

// Main Layout
.two-column-main {

	@include span-columns(4);		
	
	// Medium
	@include media($medium){
		@include span-columns(5);		
	}
	
	// Large
	@include media($large){
		@include span-columns(8);		
	}

}

// Main Layout
.full {

	@include span-columns(4);
	@include omega();		
	
	// Medium
	@include media($medium){
		@include span-columns(8);		
		@include omega();
	}
	
	// Large
	@include media($large){
		@include span-columns(12);
		@include omega();
	}

}

// Side Column Layout
.side {

	@include span-columns(4);
	
	// Medium
	@include media($medium){
		@include span-columns(3);
		@include omega;
	}

	@include media($large){
		@include span-columns(4);
		@include omega;
	}
}

// Footer

.site-footer-inner {
	@include outer-container;
}

.site-footer-left {
	@include span-columns(4);
	@include omega;

	
	@include media($medium){
		@include span-columns(5);
	}
	
	@include media($large){
		@include span-columns(6);
	}
}

.site-footer-right {
	@include span-columns(4);
	@include omega;
	
	@include media($medium){
		@include span-columns(3);
		@include omega;

	}
	
	@include media($large){
		@include span-columns(6);
		@include omega;	
	}
	
}