// Sticky Footer

@include media($medium){
	html, body {
		height: 100%;
	}
	.page-wrap {
		min-height: 100%;
		/* equal to footer height */
		margin-bottom: em(-$stickyfooter-height); 
	}
	.page-wrap:after {
		content: "";
		display: block;
	}
	.site-footer, .page-wrap:after {
		/* .push must be the same height as footer */
		height: em($stickyfooter-height); 
	}

}

/* Header */

// Header 
.header-site {
	
	@include media($medium){
		//background:none;
		margin: 0;
	}
	
	
}

// Header logo
.header-logo {
	text-align: left;
	font-size: $base-font-size * 1.25;
	padding: em(10) 0;
	
	a {
		padding: 0 percent(10, 306);
	}
	
	
	//Large
	@include media($large){
		padding: 0;
		font-size: $base-font-size * 2.25;
	}
}

// Full

.full {
  h1 {
    margin-left: percent($content-padding, $main-width);
  }
}

// Side

.side-article {
	margin: 0 percent($content-padding, $side-width) em(20) percent($content-padding, $side-width);
	border-bottom: 2px solid $dark-gray;
}


.side-spacer {
	margin-bottom: em(20);
}

// Footer 
.site-footer-inner {
	background-color: $secondary-color;
	color: #fff;
	
	@include media($medium) {
		height: em($stickyfooter-height); 
	}
	
	a {
		color: $tertiary-color;
		
		&:hover {
			color: #fff;
		}
	}
	
}

.site-footer-left{
	text-align: center;

	@include media($medium) {
		text-align: left;
	}
}

.site-footer-right {
	text-align: center;

	@include media($medium) {
		text-align: right;
	}
}

.site-footer-left, .site-footer-right {
	p{
		font-size: $base-font-size * 0.8125;
		line-height: $base-line-height * 1.25;
		margin: em(10) percent(10, 474);
		
		@include media($medium){
			line-height: $base-line-height ;
			margin:1.25em percent(20, 474) 0 percent(20, 474);
		}
	}
}

.site-footer-middle {
	margin:0 percent(10, 474);
}